body {
    width: 100%;
    height: 100%;
}

nav {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    background-color: #ffffff;
    border-bottom-color: #cccccc; 
    border-bottom-style: groove;  
    height: 100px;
    overflow: hidden;
    line-height: 100px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#aboutMePage {
    width: 960px;
    border-style: groove;
    border-color: #dddddd;
    height: 720px;
    position: absolute;
    margin-top: 20%;
    margin-left: 18%;
    margin-bottom: 20%;
    background-color: #ffffff;
    padding: 10px;
}

ol {
    width: 960px;
    margin: 0 auto;
    list-style-type: none;
}

#nameHeader {
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    padding-bottom: 9999px; margin-bottom: -9999px;
    font-size: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
}

li a {
    
    color: #777777;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom:0;
    left: 0;
    width:100%;
    background-color:#666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    height: 50px;
    border-top-color:  #4aaaa5;
    border-top-style: solid;
    border-top-width: thick;
    line-height: 75px;
    color: #ffffff;
    font-size: 10px;
}

p {
    color: #777777;
    font-size: 20px;
}

h1 {
    color: #4aaaa5;
}

.horizontalLine {
    border-top: medium solid #dddddd;
  }

#profilePic {
    margin-top: 20px;
    height: 200px;
    width: 200px;
}

.verticalLine {
    border-left: thin solid #dddddd;
    height: 15px;
    margin-top: 43px;
    margin-left: 10px;
    margin-right: 10px;
}

li a, .verticalLine {
    float: right;
}

img {
    float: left;
}

span {
    overflow:hidden;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

#contactBox {
    width: 960px;
    border-style: groove;
    border-color: #dddddd;
    height: 960px;
    position: absolute;
    margin-top: 20%;
    margin-left: 18%;
    margin-bottom: 20%;
    background-color: #ffffff;
    padding: 10px;
}

form {
    margin-top: 10px;
}

#portfolioBox {
    width: 960px;
    border-style: groove;
    border-color: #dddddd;
    height: 960px;
    margin-top: 20%;
    margin-left: 18%;
    margin-bottom: 20%;
    background-color: #ffffff;
    padding: 10px;
}

.imgContainer {
    max-width: 75%;
    margin-top: 20px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.image-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    
}

.textBoxOne {
    position: absolute;
    background-color: #4aaaa5;
    width: 100%; 
    height: 36px; 
    top: 66%;
    left: 0;
    right: 0;
    bottom: 34%;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: #ffffff;
    margin: 10px;
}

.imagur {
    position: absolute;
    height: 200px;
    width: 200px;
    margin: 10px;

}







